<!DOCTYPE html>
<html lang="en">
<head><title>Enter Matrix ID</title></head>
<body style="text-align: center">
<h1>Enter your Matrix ID</h1>
<form action="/login" method="post">
    <label for="mxid">Matrix ID:</label>
    <input type="text" id="mxid" name="mxid" placeholder="@user:pikaviestin.fi"><br><br>
    <div class="h-captcha" data-sitekey="{{ site_key }}"></div>
    <input type="submit" value="Login">
</form>
<script src="https://hcaptcha.com/1/api.js" async defer></script>
</body>
</html>
